/*
CSS Style file for resume website camdengugel.tech
Camden Gugel
Spring 2025
Last update: 3/03/25
web_style.css
*/

body {
    width: 100%;
    background-image: linear-gradient(90deg, white, gray);
}

header {
    text-align: center;
    margin-top: 20px;
}

.photo-section {
    text-align: center;
    margin: 1px 0;

}

/*#unity-container {*/
/*    margin-top: auto;*/
/*    width: auto;*/
/*    height: auto;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

#unity-canvas {
    width: 100%;
    height: 100%;
}

.playsnake {
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

